<% @products.each do |product| %>
<div class="card">
    <div class="card-body">
       
        <div class="card-title">
            <p><%= product.name %></p>
        </div>
        <div>
            <p>
                <%= image_tag product.avatar.url if product.avatar_url %>
            </p>
        </div>
        <div class="card-text">
            <p><small>SGD</small> <%= number_to_currency(product.price) %> </p>
        </div>
        <div class="card-footer">
            <%= link_to 'View Product', product_path(product) %>
        </div>
    </div>
</div>
<% end %>