<% @products.each do |product| %>
<div class="card" style="width: 18rem;">
    <%= image_tag product.avatar.url if product.avatar_url %>
    <div class="card-body">
      <h5 class="card-title">
        <p><%= product.name %></p>
      </h5>
      <p class="card-text">
        <%= number_to_currency(product.price) %>
      </p>
      <%= link_to 'View Product', product_path(product), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>